
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Let's SHOPPING</title>
  <link rel="stylesheet" href="/css/style.css">
  
</head>
<body>
  <!-- <form action="/api1/signin" method="get">
    <button type="submit">sign in</button>
  </form>
  <form action="/api1/signup" method="get">
    <button type="submit">sign up</button>
  </form> -->

  <header>
    <nav>
        <ul>
          <!-- <li>
            <div class="logo">
              <img src="/img/vege_rogo2.jpg" alt="ECサイトのロゴ">
            </div>
          </li> -->
          <li>
            <select name="prefecture">
              <option value="">選択してください
              <option value="0">野菜
              <option value="1">果物
            </select>
          </li>
          <li>
            <form action="" method="get">
              <input type="text" name="" id="">
              <button type="submit">検索</button>
            </form>
          </li>
          <li><a href="#">ホーム</a></li>
          <li><a href="#">商品</a></li>
          <li><a href="#">カート</a></li>
          <li><a href="#">お問い合わせ</a></li>
          <li><a href="/api/v1/signup">会員登録</a></li>
          <li><a href="/api/v1/signin">ログイン</a></li>
        </ul>
    </nav>
</header>

<main>
    <section class="product">
        <div class="product-image">
            <img src="/img/キャベツ1.jpeg" alt="商品1">
        </div>
        <div class="product-info">
            <h2>商品名</h2>
            <p>商品説明</p>
            <p>価格: ¥1000</p>
            <button>カートに追加</button>
        </div>
    </section>

    <section class="product">
        <div class="product-image">
            <img src="/img/じゃがいも1.jpg" alt="商品2">
        </div>
        <div class="product-info">
            <h2>商品名</h2>
            <p>商品説明</p>
            <p>価格: ¥1500</p>
            <button>カートに追加</button>
        </div>
    </section>
</main>

<footer>
    <p>&copy; 2024 ECサイト. All rights reserved.</p>
</footer>
  

  
</html>
