/* 共通スタイル */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header form a{
    /* display: inline;
    padding: 0 20px 0 20px; */
    /* color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px; */
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header h1 {
    float: left;
    display: inline;
    padding: 0 10px 0 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

.main-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.profile-section, .order-history {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.profile-section h2, .order-history h2 {
    margin-top: 0;
}

.profile-details, .order-list {
    margin-top: 10px;
}

.order-item {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
